.Basket {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.Basket button {
    text-align: center;
    background-color: red;
    flex-grow: 1;
    padding: 15px;
    font-size: 14px;
    color: white;
    border-radius: 5px;
    border: none;
}

.Basket button.Bag {
    background-color: #F55F81;
    flex-grow: 4;
    margin-right: 5px;
}

.Basket button.Multi {
    background-color: #EBEBEB;
    color: #F55F81;
}